.page-footer {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b2ead0;
  height: 210px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}
