.faqs {
  color: var(--gray800);

  &-title {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .faqs-items,
  .faqs-items-hide {
    .faqs-item {
      display: flex;
      .image {
        min-width: 23px;
        margin-right: 13px;
        margin-top: 2px;
      }
      .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8;
      }
      .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 24px;
      }
    }
  }
  .btn {
    display: flex;
    margin: 0 auto;
    color: var(--primary);
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */

    text-decoration-line: underline;
    text-transform: capitalize;
    .text {
      margin-right: 12px;
    }

    &.show-more {
      .btn-arrow {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  .faqs-items-hide {
    overflow: hidden;
    transition: height 4s;
    height: auto;
    &.small {
      &.hidden {
        height: 0;
      }
    }
  }
}
